Clicker/ConfiguratinEntry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ActionsEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Action">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="X" type="xs:unsignedByte" />
              <xs:element name="Y" type="xs:unsignedByte" />
              <xs:element name="Text" type="xs:string" />
              <xs:element name="interval" type="xs:unsignedByte" />
              <xs:element name="Type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>